In [29]:
import pandahouse as ph
import json
import pandas as pd
import numpy as np

In [45]:
# create three lists that will house the data
dt = []
st_id = []
bk_un_lsn =[]
bk_un_lsn_2 = []
hwrk = []
beh = []
comp = []
vocab = []
spk = []
rd = []
wrt = []

In [46]:
#use append to fill in each list with regarding information
dt.append(input('Enter the date:'))
st_id.append(int(input('Enter student id:')))
bk_un_lsn.append(input('Enter book, unit and lesson:'))
bk_un_lsn_2.append(input('Enter book, unit and lesson:') or np.nan)
hwrk.append(input('Enter homework grade:') or np.nan)
beh.append(input('Enter behaviour grade:') or np.nan)
comp.append(input('Enter comprehension grade:') or np.nan)
vocab.append(input('Enter vocabulary grade:') or np.nan)
spk.append(input('Enter speaking grade:') or np.nan)
rd.append(input('Enter reading grade:') or np.nan)
wrt.append(input('Enter writing grade:') or np.nan)

# message = '''
# date: {}
# student_id: {}
# book_unit_page: {}
# book_unit_lesson_2: {}
# homework: {}
# behaviour: {}
# comprehension: {}
# vocabulary: {}
# speaking: {}
# reading: {}
# writing: {}
# '''
# print(message.format(date,
#                      student_id,
#                      book_unit_page,
#                      book_unit_lesson_2,
#                      homework,
#                      behaviour,
#                      comprehension,
#                      vocabulary,
#                      speaking,
#                      reading,
#                      writing))

Enter the date: 2012-02-02
Enter student id: 55
Enter book, unit and lesson: fgf
Enter book, unit and lesson: fgfg
Enter homework grade: 0
Enter behaviour grade: 1
Enter comprehension grade: 2
Enter vocabulary grade: 3
Enter speaking grade:
Enter reading grade:
Enter writing grade:

In [47]:
# define dictionary of lists and create a dataframe 
df_structure = {'date': dt,
                'student_id': st_id,
                'book_unit_lesson': bk_un_lsn,
                'book_unit_lesson_2' : bk_un_lsn_2,
                'homework' : hwrk,
                'behaviour' : beh,
                'comprehension' : comp,
                'vocabulary' : vocab,
                'speaking' : spk,
                'reading' : rd,
                'writing' : wrt} 
 
df = pd.DataFrame(df_structure)
df

,date,student_id,book_unit_lesson,book_unit_lesson_2,homework,behaviour,comprehension,vocabulary,speaking,reading,writing
0,2012-02-02,55,fgf,fgfg,0,1,2,3,NaN,NaN,NaN

In [48]:
with open('/home/jupyter-vladperesad/keys/clickhouse_key.json') as src:
    data = json.load(src)

connection = dict(database = 'luxinedu_2',
host = data['host'],
user = data['user'],
password = data['password'])

ph.to_clickhouse(df, 'attendance', index=False, connection=connection)

1

In [49]:
pd.to

AttributeError: module 'pandas' has no attribute 'to_sql'