In [1]:
import clickhouse_connect
import json
import pandas as pd
import numpy as np

In [21]:
# create three lists that will house the data
dt = []
st_id = []
bk_un_lsn =[]
bk_un_lsn_2 = []
hwrk = []
beh = []
comp = []
vocab = []
spk = []
rd = []
wrt = []

In [23]:
#use append to fill in each list with regarding information
dt.append(input('Enter the date:'))
st_id.append(int(input('Enter student id:')))
bk_un_lsn.append(input('Enter book, unit and lesson:'))
bk_un_lsn_2.append(input('Enter book, unit and lesson:') or None)
hwrk.append(input('Enter homework grade:') or None)
beh.append(input('Enter behaviour grade:') or None)
comp.append(input('Enter comprehension grade:') or None)
vocab.append(input('Enter vocabulary grade:') or None)
spk.append(input('Enter speaking grade:') or None)
rd.append(input('Enter reading grade:') or None)
wrt.append(input('Enter writing grade:') or None)

Enter the date: 2024-02-25
Enter student id: 23
Enter book, unit and lesson: HOT3U7p34
Enter book, unit and lesson: HOT3U7p35
Enter homework grade:
Enter behaviour grade: 5
Enter comprehension grade: 3
Enter vocabulary grade: 2
Enter speaking grade: 3
Enter reading grade:
Enter writing grade:

In [24]:
# define dictionary of lists and create a dataframe 
df_structure = {'date': dt,
                'student_id': st_id,
                'book_unit_lesson': bk_un_lsn,
                'book_unit_lesson_2' : bk_un_lsn_2,
                'homework' : hwrk,
                'behaviour' : beh,
                'comprehension' : comp,
                'vocabulary' : vocab,
                'speaking' : spk,
                'reading' : rd,
                'writing' : wrt} 
 
df = pd.DataFrame(df_structure)
df['date'] = pd.to_datetime(df['date'])

In [6]:
with open('/home/jupyter-vladperesad/keys/clickhouse_connect_key.json') as src:
    data = json.load(src)

In [7]:
client = clickhouse_connect.get_client(host=data['host'],
                                       port=8443,
                                       username=data['user'],
                                       password=data['password'])

In [26]:
client.insert_df('luxinedu_2.test', df)

In [25]:
df

,date,student_id,book_unit_lesson,book_unit_lesson_2,homework,behaviour,comprehension,vocabulary,speaking,reading,writing
0,2024-02-23,5,BW1U3p23,BW1U3p25,2,5,3,1,3,None,5
1,2024-02-25,23,HOT3U7p34,HOT3U7p35,None,5,3,2,3,None,None