In [1]:
import pandahouse as ph
import json
import pandas as pd
import numpy as np

In [49]:
# create three lists that will house the data
dt = []
st_id = []
bk_un_lsn =[]
bk_un_lsn_2 = []
hwrk = []
beh = []
comp = []
vocab = []
spk = []
rd = []
wrt = []

In [55]:
#use append to fill in each list with regarding information
dt.append(input('Enter the date:'))
st_id.append(int(input('Enter student id:')))
bk_un_lsn.append(input('Enter book, unit and lesson:'))
bk_un_lsn_2.append(input('Enter book, unit and lesson:') or np.nan)
hwrk.append(input('Enter homework grade:') or np.nan)
beh.append(input('Enter behaviour grade:') or np.nan)
comp.append(input('Enter comprehension grade:') or np.nan)
vocab.append(input('Enter vocabulary grade:') or np.nan)
spk.append(input('Enter speaking grade:') or np.nan)
rd.append(input('Enter reading grade:') or np.nan)
wrt.append(input('Enter writing grade:') or None)

# message = '''
# date: {}
# student_id: {}
# book_unit_page: {}
# book_unit_lesson_2: {}
# homework: {}
# behaviour: {}
# comprehension: {}
# vocabulary: {}
# speaking: {}
# reading: {}
# writing: {}
# '''
# print(message.format(date,
#                      student_id,
#                      book_unit_page,
#                      book_unit_lesson_2,
#                      homework,
#                      behaviour,
#                      comprehension,
#                      vocabulary,
#                      speaking,
#                      reading,
#                      writing))

Enter the date: 1990-08-25
Enter student id: 8
Enter book, unit and lesson: jkbj
Enter book, unit and lesson:
Enter homework grade: 2
Enter behaviour grade: 5
Enter comprehension grade: 3
Enter vocabulary grade: 1
Enter speaking grade:
Enter reading grade:
Enter writing grade:

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [51]:
# define dictionary of lists and create a dataframe 
df_structure = {'date': dt,
                'student_id': st_id,
                'book_unit_lesson': bk_un_lsn,
                'book_unit_lesson_2' : bk_un_lsn_2,
                'homework' : hwrk,
                'behaviour' : beh,
                'comprehension' : comp,
                'vocabulary' : vocab,
                'speaking' : spk,
                'reading' : rd,
                'writing' : wrt} 
 
df = pd.DataFrame(df_structure)
df

,date,student_id,book_unit_lesson,book_unit_lesson_2,homework,behaviour,comprehension,vocabulary,speaking,reading,writing
0,1990-28-12,3,dc,NaN,0,1,2,3,4,NaN,None

In [2]:
with open('/home/jupyter-vladperesad/keys/clickhouse_connect_key.json') as src:
    data = json.load(src)

In [3]:
client = clickhouse_connect.get_client(host=data['host'],
                                       port=8443,
                                       username=data['user'],
                                       password=data['password'])