In [1]:
import clickhouse_connect
import json
import pandas as pd
import numpy as np

In [2]:
with open('/home/jupyter-vladperesad/keys/clickhouse_connect_key.json') as src:
    data = json.load(src)

In [3]:
client = clickhouse_connect.get_client(host=data['host'],
                                       port=8443,
                                       username=data['user'],
                                       password=data['password'])

In [4]:
# create three lists that will house the data
dt = []
st_id = []
bk_un_lsn =[]
bk_un_lsn_2 = []
hwrk = []
beh = []
comp = []
vocab = []
spk = []
rd = []
wrt = []

In [9]:
#use append to fill in each list with regarding information
dt.append(input('Enter the date:'))
st_id.append(int(input('Enter student id:')))
bk_un_lsn.append(input('Enter book, unit and lesson:'))
bk_un_lsn_2.append(input('Enter book, unit and lesson:') or None)
hwrk.append(input('Enter homework grade:') or None)
beh.append(input('Enter behaviour grade:') or None)
comp.append(input('Enter comprehension grade:') or None)
vocab.append(input('Enter vocabulary grade:') or None)
spk.append(input('Enter speaking grade:') or None)
rd.append(input('Enter reading grade:') or None)
wrt.append(input('Enter writing grade:') or None)

Enter the date: 2024-03-06
Enter student id: 42
Enter book, unit and lesson: HC1U6l7
Enter book, unit and lesson: HC1U6l8
Enter homework grade:
Enter behaviour grade: 3
Enter comprehension grade: 3
Enter vocabulary grade: 1
Enter speaking grade: 1
Enter reading grade: 1
Enter writing grade: 1

In [10]:
# define dictionary of lists and create a dataframe 
df_structure = {'date': dt,
                'student_id': st_id,
                'book_unit_lesson': bk_un_lsn,
                'book_unit_lesson_2' : bk_un_lsn_2,
                'homework' : hwrk,
                'behaviour' : beh,
                'comprehension' : comp,
                'vocabulary' : vocab,
                'speaking' : spk,
                'reading' : rd,
                'writing' : wrt} 
     
df = pd.DataFrame(df_structure)
df['date'] = pd.to_datetime(df['date'])
df

,date,student_id,book_unit_lesson,book_unit_lesson_2,homework,behaviour,comprehension,vocabulary,speaking,reading,writing
0,2024-03-06,36,HC1U6l7,HC1U6l8,1,5,4,3,4,5,3
1,2024-03-06,2,HC1U6l7,HC1U6l8,5,5,5,5,5,5,3
2,2024-03-06,3,HC1U6l7,HC1U6l8,5,5,5,5,3,5,3
3,2024-03-06,1,HC1U6l7,HC1U6l8,1,5,4,3,2,4,1
4,2024-03-06,42,HC1U6l7,HC1U6l8,None,3,3,1,1,1,1

In [11]:
client.insert_df('luxinedu_2.attendance', df)