In [75]:
import pandahouse as ph
import json
import pandas as pd

In [12]:
with open('/home/jupyter-vladperesad/keys/clickhouse_key.json') as src:
    data = json.load(src)

In [13]:
connection = dict(database = 'luxinedu_2',
host = data['host'],
user = data['user'],
password = data['password'])

In [127]:
#creating lists and combining them into a dataframe
a = ['2022-05-23']
b = [7]
c = ['GB1U8p89']

In [133]:
a.append('2022-05-24')
b.append(8)
c.append('GB1U8p81')

In [136]:
c

['GB1U8p89', 'GB1U8p81']

In [138]:
test = pd.DataFrame(columns = [a,b,c])
test

Empty DataFrame
Columns: [(2022-05-23, 7, GB1U8p89), (2022-05-24, 8, GB1U8p81)]
Index: []

In [81]:
ph.to_clickhouse(df, 'test', index=False, connection=connection)

5

In [64]:
#make sure the connection to the needed database and table is established
query = """
SELECT
    *
FROM
    luxinedu_2.test
"""

df_read = ph.read_clickhouse(query, connection=connection)
df_read

        date  student_id book_unit_page
0 2012-08-29          11        BW1U1p1
1 1970-01-01          23       BW3U5p33
2 1975-06-21          25       BW1U5p33
3 1975-07-02          12       BW1U4p24
4 2024-01-15          33       BW2U4p24

In [65]:
query

'\nSELECT\n    *\nFROM\n    luxinedu_2.test\n'

In [67]:
date = input('Enter the date:')
student_id = int(input('Enter student id:'))
book_unit_lesson = input('Enter book, unit and page:')
# book_unit_lesson_2 = input('Enter book, unit and page:')
# homework = int(input('Enter homework grade:'))
# behaviour = int(input('Enter behaviour grade:'))
# comprehension = int(input('Enter comprehension grade:'))
# vocabulary = int(input('Enter vocabulary grade:'))
# speaking = int(input('Enter homework speaking:'))
# reading = int(input('Enter reading grade:'))
# writing = int(input('Enter writing grade:'))

# message ="'{}',{},'{}'"
# message.format(date, student_id, book_unit_lesson)

query = """
INSERT INTO luxinedu_2.test
VALUES (
'{}',
{},
'{}')
"""
msg = query.format(date, student_id, book_unit_lesson)

Enter the date: 2022-14-15
Enter student id: 23
Enter book, unit and page: BW3U5p33

In [74]:
#create a table in ClickHouse
query_test = """
INSERT INTO luxinedu_2.test VALUES (
'2011-12-13',
32,
'NBDCRS'
)

"""
df_create = ph.read_clickhouse(query_test, connection=connection)
df_create
#since pandahouse doesn't recognize the response from clickhouse it throws an error while the table has actuall been created

ClickhouseException: b"Code: 27. DB::Exception: Cannot parse input: expected '(' before: 'FORMAT TSVWithNamesAndTypes\\n':  at row 1: While executing ValuesBlockInputFormat. (CANNOT_PARSE_INPUT_ASSERTION_FAILED) (version 24.0.2.54477 (official build))\n"

Empty DataFrame
Columns: [date, student_id, book_unit_page]
Index: []